#Purpose: Load variables from your .env file into Python
python-dotenv

langchain
langchain-core
langchain-community

# LLM Providers
langchain-groq
langchain-text-splitters


# Vector Stores
faiss-cpu

# notebook
jupyter
ipykernel

# web app

streamlit
